<!DOCTYPE html>
<head>
    <meta charset="UFT-8">
    <title>Nomes</title>
</head>

<body>
    <h4>Nomes:</h4>
    {% for name in names_list %}
    {{ name }} <br>
    {% endfor %}
    <input type="text" id="name_box">
    <button onclick="createName()">Submit</button>
</body>

<script>
    
    function createName() {
        current_name = document.getElementById("name_box").value;

        const xhr = new XMLHttpRequest();
        xhr.open("POST", `http://127.0.0.1:5000/create/${current_name}`);
        xhr.send();
        xhr.onload = function() {
            alert("Recarrege a página");
        }
    }
</script>